@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
  <i class="fas fa-envelope mr-2"></i><strong>Email:</strong> <a class="mr-3" href="mailto:justinprobb@gmail.com">justinprobb@gmail.com</a><br />
  <i class="fab fa-linkedin linkedin mr-2"></i><strong>LinkedIn:</strong> <a class="mr-3" href="https://www.linkedin.com/in/jurobb">https://www.linkedin.com/in/jurobb</a><br />
  <i class="fab fa-github mr-2"></i><strong>Github:</strong> <a class="mr-3" href="https://github.com/Reptarsrage">https://github.com/Reptarsrage</a><br />
</address>
