@{
    ViewData["Title"] = "Home Page";
}

<div class="relative">
  <partial name="_Grid"/>
  <div class="absolute-center">
    <div class="d-flex p-0 m-0">
      <svg class="svg-inline--fa" fill="#FFFFFF" height=128 style="width: auto; height: 128px;" width=128>
        <use href="/dist/static/media/icons.svg#icon-logo" />
      </svg>
    </div>
  </div>
</div>
