{
  "extends": [
    "./src/BestClipOfTheWeek/node_modules/stylelint-config-airbnb"
  ],
  "plugins": [
    "./src/BestClipOfTheWeek/node_modules/stylelint-order",
    "./src/BestClipOfTheWeek/node_modules/stylelint-scss",
  ],
  "rules": {
    "order/order": [
      {
        "type": "at-rule",
        "name": "extend"
      },
      {
        "type": "at-rule",
        "name": "include"
      },
      "custom-properties",
      "dollar-variables",
      "declarations",
      "rules",
      {
        "type": "at-rule",
        "name": "media"
      }
    ],
    "number-leading-zero": "always",
    "order/properties-alphabetical-order": true,
  }
}
