/*
 * Justin Robb
 * 4/10/15
 * Best Clip of the Week Application
 * Term Configuration page style
 */

td {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
} 

table {
    margin: 10px auto 50px auto;
    border-spacing:0; /* Removes the cell spacing via CSS */
    border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
    background-color: #FAFAFA;
}

thead {
    background: #CC4158;
	background: -moz-linear-gradient(top,#CC4158 0,#8F2E3E 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#CC4158),color-stop(100%,#8F2E3E));
	background: -webkit-linear-gradient(top,#CC4158 0,#8F2E3E 100%);
	background: -o-linear-gradient(top,#CC4158 0,#8F2E3E 100%);
	background: -ms-linear-gradient(top,#CC4158 0,#8F2E3E 100%);
	background: linear-gradient(top,#CC4158 0,#8F2E3E 100%);
}

th {
    width: 120px;
    background: url('images/bg.png');
    color: white;
    font-size: larger;
    padding: 15px 10px 15px 10px;
    text-align: left;
}

.input_term {
    border: none;
    background-color: transparent;
}

tbody tr:hover {
    background-color: #94ecf7;
}

.center {
    text-align: center;
    vertical-align: middle;
}

.tr_add td {
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
}

.tr_add input {
    background-color: #F2F2F2;
    border: 1px solid gray;
}

.color {
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.checkpox_enabled:hover {
    cursor: pointer;
}

.disabled {
    background-color: #BBBBBB;
}