/*
 * Justin Robb
 * 4/10/15
 * Best Clip of the Week Application
 * Term Configuration page style
 */

td {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
} 

table {
    margin-left: auto;
    margin-right: auto;
    border-spacing:0; /* Removes the cell spacing via CSS */
    border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
    background-color: #FAFAFA;
}

th {
    width: 120px;
    background-color: maroon;
    color: white;
    font-size: larger;
    padding: 10px;
    text-align: left;
}

.input_term {
    border: none;
    background-color: #FAFAFA;
}

tbody tr:hover {
    background-color: #CCE7E5;
}

.center {
    text-align: center;
    vertical-align: middle;
}

.tr_add td {
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
}

button:hover {
    cursor: pointer;
}

.color {
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.checkpox_enabled:hover {
    cursor: pointer;
}

button {
    width: 70px;
}

.disabled {
    background-color: #BBBBBB;
}