body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  min-width: 1000px;
}

#userSpace {
    margin-bottom: 100px;
}

#select_bestOfTheWeek {
    clear: both;
    min-width: 250px;
    font-size: x-large;
    margin: 20px;
    float: left;
}

h1 {
    width: auto;
    height: auto;
    text-align: center;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.section {
    width: 100%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    min-width: 500px;
    clear: both;
    overflow: hidden;
}

button {
    margin-left: 20px;
    float: right;
    font-size: x-large;
}

#input_video {
    float: left;
    min-width: 256px;
    width: 70%;
    margin-left: 10px;
    font-size: x-large;
}

#message {
    border: groove 2px gray;
}

.good {
    background-color: #99FF66;
}

.bad {
    background-color: #FF3300;
}

.okay {
    background-color: #FFCC66;
}

/* 
comment
    author
    content
    commentData
        p
        p
        p    

*/

#comments, #voters {
    clear: both;
    margin-top: 50px;
}

#commentSpace label {
    display: block;
    float: left;
    padding-right: 10px;
    white-space: nowrap;
}

#commentSpace label input {
    vertical-align: middle;
}

#commentSpace label span {
    vertical-align: middle;
}

#chartSection {
    width: 70%;
    min-width: 250px; 
    min-height: 1050px;
    float: left;
    overflow-x: scroll;
    overflow-y: scroll;
}

#piechart {
    width: 100%;
    min-width: 250px; 
    min-height: 500px;
    float: left;
}

#barchart {
    width: 100%;
    min-width: 250px;
    height: 500px;
    float: left;
    clear: left;
}

#div_video_stats {
    min-width: 250px;
    margin-left: 10px;
    vertical-align: bottom;
    position: absolute;
    bottom: 5px;
}

#img_thumb {
    float: left;
}

#termResults {
    overflow:hidden; 
    height: 1000px; 
    min-width: 230px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

#termResults_list {
    overflow-y:scroll;
    min-width: 100px;
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
    padding-left: 0px;
}

#termResults_list li {
    border: none;
    border-bottom: 1px solid gray;
    margin: 1px;
    padding: 0px;
    margin-left: 0px;
}

.hidden {
    display: none;
    visibility: hidden;
}

.commentBody:hover {
    background-color:lightblue;
}

.commentBody:hover span.highlight {
    background-color: yellow;
}

.comment {
    font-family: 'Segoe UI';
    font-size: 12px;
}

.author {
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
}

.content {
    font-size: 14px;
    margin: 8px;
}

.commentData p {
    color: gray;
    font-size: 10px;
    margin: 2px;
    margin-left: 10px;
    padding: 0px;
}

li {
    margin: 10px;
    margin-left: 40px;
    border: 1px solid lightgray;
    list-style-type: none;
}

#stats {
    width: auto;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;
    padding: 10px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: normal;
}

#stats h3 {
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: normal;
}

#stats p {
    font-size: 14px;
    margin: 2px;
    margin-left: 10px;
    padding: 0px;
}


/* selector */
.selected {
    background-color: royalblue;
}

#h3_recommended {
    float: left;
    clear: both;
    margin: 10px;
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 0px;
}

#select_bestOfTheWeek {
    float: left;
    clear: both;
    max-height: 550px;
    overflow-y: scroll;
    margin-top: 0px;
}

.option {
    overflow: hidden;
    min-width: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2px;
    min-height: 110px;
}

.option:hover {
    background-color: lightblue;
    cursor: pointer;
}

.selected:hover {
    background-color: royalblue;
}

.option_thumb {
    float: left;
    margin-right: 5px;
    height: 100px;
    width: 100px;

}

.option_date {
    font-size: 12px;
    color: darkslategrey;
    float: left;
}

.option_title {
    float: left;
    color: black;
    font-size: 16px;
    height: 100%;
}


/*lastly*/
.error {
    font-style: italic;
    color: gray;
    text-align: center;
    width: 100%;
    font-weight: normal;
    border: none;
    clear: both;
}