body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

#userSpace {
    margin-bottom: 100px;
}

h1 {
    width: auto;
    height: auto;
    text-align: center;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.error {
    font-style: italic;
    color: gray;
    text-align: center;
    width: 100%;
    font-weight: normal;
}

.section::after {
    content: "";
    display: table;
    clear: both;
}

.section {
    width: 100%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    min-width: 500px;
    clear: both;
}

button {
    margin-left: 20px;
    height: 25px;
    float: right;
}

input {
    float: left;
    min-width: 256px;
    width: 70%;
    height: 20px;
}

#message {
    border: groove 2px gray;
}

.good {
    background-color: #99FF66;
}

.bad {
    background-color: #FF3300;
}

.okay {
    background-color: #FFCC66;
}

/* 
comment
    author
    content
    commentData
        p
        p
        p    

*/

#piechart {
    width: 70%;
    min-width: 250px; 
    min-height: 500px;
    border: 1px solid gray;
    float: left;
}

#barchart {
    width: 70%;
    min-width: 250px; 
    height: 500px;
    border: 1px solid gray;
    float: left;
    clear: left;
}

#div_video_stats {
    min-width: 250px;
    margin-left: 10px;
    vertical-align: bottom;
    position: absolute;
    bottom: 5px;
}

#img_thumb {
    float: left;
}

#termResults {
    overflow:hidden; 
    overflow-y:scroll;
    height: 1000px; 
    min-width: 200px;
    width: 25%;
    border: 2px solid gray;
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
    margin-top: 0px;
}

#termResults li {
    border: none;
    border-bottom: 1px solid gray;
    margin: 1px;
    padding: 0px;
}

.hidden {
    display: none;
    visibility: hidden;
}

.commentBody:hover {
    background-color:lightblue;
}

.commentBody:hover span.highlight {
    background-color: yellow;
}

.comment {
    font-family: 'Segoe UI';
    font-size: 12px;
}

.author {
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
}

.content {
    font-size: 14px;
    margin: 8px;
}

.commentData p {
    color: gray;
    font-size: 10px;
    margin: 2px;
    margin-left: 10px;
    padding: 0px;
}

li {
    margin: 10px;
    margin-left: 40px;
    border: 1px solid lightgray;
    list-style-type: none;
}

#stats {
    width: auto;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;
    padding: 10px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
}

#stats h3 {
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: normal;
}

#stats p {
    font-size: 14px;
    margin: 2px;
    margin-left: 10px;
    padding: 0px;
}