body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

h1 {
    width: auto;
    height: auto;
    text-align: center;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#message {
    border: groove 2px gray;
}

.good {
    background-color: #99FF66;
}

.bad {
    background-color: #FF3300;
}

.okay {
    background-color: #FFCC66;
}

/* 
comment
    author
    content
    commentData
        p
        p
        p    

*/

.hidden {
    display: none;
    visibility: hidden;
}

.comment div:hover {
    background-color:lightblue;
}

.comment {
    font-family: 'Segoe UI';
    font-size: 12px;
}

.author {
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
}

.content {
    font-size: 14px;
    margin: 8px;
}

.commentData p {
    color: gray;
    font-size: 10px;
    margin: 2px;
    margin-left: 10px;
    padding: 0px;
}

li {
    margin: 10px;
    margin-left: 40px;
    border: 1px solid lightgray;
    list-style-type: none;
}

#stats {
    width: auto;
    height: auto;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
}

#stats h3 {
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: normal;
}

#stats p {
    font-size: 12px;
    margin: 2px;
    margin-left: 10px;
    padding: 0px;
}

.highlight {
    background-color: yellow;
}