
label {
    clear: both;
    float: left;
    margin :0 10px 30px 0;
}

input {
    float: right;
    width: 250px;
}

button {
    position: absolute;
    clear: both;
    right: 20px;
    bottom: 20px;
}

#label_rtry_msg.bad_msg, #label_msg.bad_msg {
    color: red;
}

#label_rtry_msg.good_msg, #label_msg.good_msg {
    color: green;
}

#label_rtry_msg, #label_msg {
    font-style:italic;
    clear: none;
    margin-left: 10px;
    color: gray;
    float: right;
}

#form {
    width: 400px;
    height: 200px;
    border: 1px solid lightgray;
    padding: 20px;
    margin: 20px 0 0 100px;
    position: relative;
}