/*
 * Justin Robb
 * 4/10/15
 * Best Clip of the Week Application
 * Common styles
 */


/*
Colors:
    blue-true: #3078DB 
    highlight: #94ecf7
    red: #CC4158
    purple: #C2299C
    dark: #3D3D3D
    light: #828282  
*/

/* Various elts */
html {
  height: 100%;
}

body {
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10pt;
  padding: 0 100px 0 100px;
  margin: 0;
  min-width: 1000px;
  min-height:100%;
}

.loadBar {
    height: 100%;
    background-color: #99FF66;
    position: absolute;
    left: 0;
    top:0;
    width: 1px;
    z-index: 1;
}

.disabled {
    color: gray;
    font-style: italic;
}

button:disabled {
    color: gray;
    border: none;
}

button:disabled:hover {
    color: gray;
    border: none;
    pointer-events: none;
}

.good {
    background-color: #99FF66;
}

.bad {
    background-color: #FF3300;
}

.okay {
    background-color: #FFCC66;
}

#message {
    border: groove 2px #828282;
    width: 100%;
    min-width: 1000px;
    height: 80px;
    margin: 0;
    clear: both;
    overflow: hidden;
    position: relative;
}

#message h1 {
    position:absolute;
    left: 0;
    z-index:999;
}

button {
	background: #828282;
	background: -moz-linear-gradient(top,#828282 0,#3D3D3D 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#828282),color-stop(100%,#3D3D3D));
	background: -webkit-linear-gradient(top,#828282 0,#3D3D3D 100%);
	background: -o-linear-gradient(top,#828282 0,#3D3D3D 100%);
	background: -ms-linear-gradient(top,#828282 0,#3D3D3D 100%);
	background: linear-gradient(top,#828282 0,#3D3D3D 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#828282',endColorstr='#3D3D3D',GradientType=0);
	padding:6px 11px;
	color:#fff;
	font-size:17px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #1A87B9;
    font-size: 12pt;
    min-width: 70px;
} 

button:hover {
    cursor: pointer;
    color: #3078DB;
}

hr {
    border: none;
    background: #CC4158;
	background: -moz-linear-gradient(top,#CC4158 0,#8F2E3E 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#CC4158),color-stop(100%,#8F2E3E));
	background: -webkit-linear-gradient(top,#CC4158 0,#8F2E3E 100%);
	background: -o-linear-gradient(top,#CC4158 0,#8F2E3E 100%);
	background: -ms-linear-gradient(top,#CC4158 0,#8F2E3E 100%);
	background: linear-gradient(top,#CC4158 0,#8F2E3E 100%);
    height: 10px;
    margin: 0;
}

h1 {
    text-align: left;
    padding: 20px;
    margin: 5px 0 5px 0;
    font-size: xx-large;
    font-weight: bold;
}

h2 {
    margin: 5px 0 5px 0;
    font-weight: normal;
    font-size: x-large;
    text-align: left;
}

h3 {
    margin: 0 0 5px 0;
    font-weight: normal;
    text-align: left;
    font-size: large;
}

#body, #header, #footer{
    overflow: hidden;
    min-width: 1000px;
    margin: 0;
    background-color: white;
}

#body {
    padding: 0 0 100px 0;
}

.tooltip {
    height: 24px;
    width: 24px;
    display: inline-block; 
    position: relative;
    bottom: -5px;
    margin: 0 0 0 10px;
}

.tooltip:hover {
    cursor: pointer;
}

.hidden {
    display: none;
    visibility: hidden;
}

.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url("/common/images/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
}

/*lastly*/
.error {
    font-style: italic;
    color: gray;
    text-align: center;
    width: 100%;
    font-weight: normal;
    border: none;
    clear: both;
}

b.error {
    font-weight: bold;
}

/* Fancy footer */
#footer {
    position: absolute;
    bottom: 0;
    right: 100px;
    left: 100px;
    min-width: 1000px;
    background: #828282;
	background: -moz-linear-gradient(top,#828282 0,#3D3D3D 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#828282),color-stop(100%,#3D3D3D));
	background: -webkit-linear-gradient(top,#828282 0,#3D3D3D 100%);
	background: -o-linear-gradient(top,#828282 0,#3D3D3D 100%);
	background: -ms-linear-gradient(top,#828282 0,#3D3D3D 100%);
	background: linear-gradient(top,#828282 0,#3D3D3D 100%);
}

#footer_overlay {
    height: 100%;
    width: 100%;
    background: url('/common/images/bg.png');
    padding: 10px 0 10px 0;
    overflow: hidden;
}

#foot_content {
    margin-left: 70%;
    overflow:hidden;
    height: 100%;
    color: white;
    font-size: 8pt;
}

#foot_content a {
    color: #B1B1B1;
}

#foot_content a:hover {
    color: white;
    text-decoration: underline;
}

#foot_content b {
    font-weight: normal;
    font-size: large;
    color: white;
}


/* fancy header bar */
#header {
    width: 100%;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
    width: auto;
    border: 3px solid #3078DB ;
    border-radius: 3px;
    line-height: 1;
    background: #828282;
    background: -moz-linear-gradient(top,#828282 0,#3D3D3D 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#828282),color-stop(100%,#3D3D3D));
    background: -webkit-linear-gradient(top,#828282 0,#3D3D3D 100%);
    background: -o-linear-gradient(top,#828282 0,#3D3D3D 100%);
    background: -ms-linear-gradient(top,#828282 0,#3D3D3D 100%);
    background: linear-gradient(top,#828282 0,#3D3D3D 100%);
    box-shadow: 1px 1px 0 #3078DB, 2px 2px 0 #3078DB, 3px 3px 3px rgba(0, 0, 0, 0.35);
}
#cssmenu > ul {
  background: url('/common/images/bg.png');
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 20px 25px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  color: #3078DB;
}
#cssmenu #menu-indicator {
  position: absolute;
  bottom: 0;
  display: block;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-bottom-color: #3078DB;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#cssmenu.small-screen {
  width: 100%;
}
#cssmenu.small-screen > ul,
#cssmenu.small-screen.align-center > ul {
  width: 100%;
  text-align: left;
}
#cssmenu.small-screen > ul > li,
#cssmenu.small-screen.align-center > ul > li {
  float: none;
  display: block;
  border-top: 1px solid rgba(100, 100, 100, 0.1);
}
#cssmenu.small-screen > ul > li > a {
  padding: 18px 25px;
}
#cssmenu.small-screen > ul > li:after,
#cssmenu.small-screen > ul > li:before {
  display: none;
}
#cssmenu.small-screen #menu-button {
  display: block;
  padding: 18px 25px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #3078DB;
  background: url('/common/images/bg.png');
}
#cssmenu.small-screen #menu-button.menu-opened {
  color: #444444;
}
#cssmenu.small-screen #menu-button:after {
  content: "";
  position: absolute;
  right: 25px;
  top: 19.5px;
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-top: 2px solid #3078DB ;
  border-bottom: 2px solid #3078DB;
  width: 18px;
  height: 3px;
}
#cssmenu.small-screen #menu-button.menu-opened:after {
  border-top: 2px solid #444444;
  border-bottom: 2px solid #444444;
}
#cssmenu.small-screen #menu-button:before {
  content: "";
  position: absolute;
  right: 25px;
  top: 29.5px;
  display: block;
  width: 18px;
  height: 2px;
  background: #3078DB;
}
#cssmenu.small-screen #menu-button.menu-opened:before {
  background: #444444;
}
#cssmenu.small-screen #menu-indicator {
  display: none;
}
