/*
 * Justin Robb
 * 4/20/15
 * Best Clip of the Week Application
 * Login page style
 */


#backgorund_grid {
    width: 100%;
    overflow: hidden;
    height: 100%; 
    position: relative; 
    background-color: #828282;
}


#backgorund_grid .col {
    width: 10%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    -webkit-user-select: none; /* Safari, Chrome */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE */
    user-select: none; /* CSS3 */
    
}

#backgorund_grid .row {
    width: 100%;
    height: 10%;
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    -webkit-user-select: none; /* Safari, Chrome */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE */
    user-select: none; /* CSS3 */
    background: #D2D2D2;
}


#form {
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 300px;
    height: 200px;
    z-index: 100;
    width: 500px;
    padding: 20px 10px 10px 10px;
    margin: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

.front, .back, .card {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    //background: url("/common/images/loading.gif");
    background-size: 100% 130%;
    background-position: 0 50%;
    background-repeat: no-repeat;
}


#form > * {
    float: left;
}

#label_password {
    clear: left;
}

#login {
    clear: left;
    margin-left: 30px;
}

input {
    margin: 10px 40px 10px 0;
    width: 200px;
}

label {
    margin: 10px 0 10px 0;
    padding: 0 40px 0 30px;
    width: 50px;
}

button {
    margin: 10px 0 10px 145px;
}

#body {
    height: 900px;
}

#result {
    margin: 10px 0 0 30px;
    border-radius: 6px;
    height: 25px;
    width: auto;
    max-width: 400px;
    clear: left; 
    opacity: 0;
}