/*
 * Justin Robb
 * 4/10/15
 * Best Clip of the Week Application
 * Index (home) page style
 */

/* General */
li {
    border: 1px solid #828282;
    list-style-type: none;
    padding: 0 10px 0 0;
}

.section {
    width: 100%;
    min-width: 1000px;
    min-height: 500px;
    margin: 0;
    clear: both;
    overflow: hidden;
}

/* USER SPACE (top with fetch button and recommended)*/
#userSpace {
    min-height: 0;
    padding: 0 0 15px 0;
    background: #D2D2D2 
}

#collapse {
    height: 20px;
    width: 100%;
    padding: 0;
    border: none;
    background: #828282;
	background: -moz-linear-gradient(top,#828282 0,#3D3D3D 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#828282),color-stop(100%,#3D3D3D));
	background: -webkit-linear-gradient(top,#828282 0,#3D3D3D 100%);
	background: -o-linear-gradient(top,#828282 0,#3D3D3D 100%);
	background: -ms-linear-gradient(top,#828282 0,#3D3D3D 100%);
	background: linear-gradient(top,#828282 0,#3D3D3D 100%);
    text-align: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

#collapse.expanded > img{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#collapse > img {
    margin: 0 auto 0 auto;
    height: 20px;
}

#collapse:hover {
    cursor: pointer;
}

#fetch {
    margin: 0 0 0 20px;
    float: left;
}

#input_video {
    float: left;
    min-width: 256px;
    width: 70%;
    margin: 0 0 0 10px;
    font-size: x-large;
}

#h3_recommended {
    float: left;
    clear: both;
    margin: 10px 0 10px 10px;
}

#h3_starting_terms {
     float: left;
     margin: 10px 0 0 10px;
}

#list_starting_terms {
    float: left;
    clear: left;
    margin: 10px 0 0 10px;
    padding: 0 0 0 0;
    height: 300px;
    width: 180px;
    overflow-y: scroll;
    overflow-x: visible;
    position: relative;
}

#list_starting_terms ul {
    padding: 0 0 0 0;
}

#list_starting_terms li {
    width: 150px;
}

#startingterms {
    float: left;
    overflow: hidden;
    margin: 0 0 0 20px;
    padding: 0;
    font-size: 14pt;
    min-width: 180px;
}

#recommended {
    float: left;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* recommended video selector */
#select_bestOfTheWeek {
    width: 780px;
    height: 300px;
    font-size: large;
    margin: 0 0 0 10px;
    float: left;
    clear: left;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

#select_bestOfTheWeek .error {
    font-size: 12px;
    text-align: left;
}

.selected {
    background-color: #3078DB;
}

.option {
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2px;
    min-height: 80px;
}

.option:hover {
    background-color: #94ecf7;
    cursor: pointer;
}

.selected:hover {
    background-color: #3078DB;
}

.option_thumb {
    float: left;
    margin-right: 10px;
    height: 70px;
    width: 70px;

}

.option_date {
    font-size: 12px;
    color: darkslategrey;
    float: left;
    margin: 0;
}

.option_title {
    float: left;
    color: black;
    font-size: 16px;
    height: 100%;
    margin: 0 0 0 10px;
}

/* Video stats space*/

#stats_group {
    margin: 5px 20px 5px 0;
    overflow: hidden;
    position: relative;
    float: left;
    width: 45%;
    height: 445px;
    background-color: #ECECEC;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#div_video_stats {
    width: 180px;
    left: 0;
    vertical-align: bottom;
    position: absolute;
    bottom: 0;
    margin: 0 10px 10px 10px;
}

#img_overlay { /* Big image */
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#stats {
    overflow: hidden;
}

#stats p {
    font-size: 18px;
    margin: 2px;
    margin-left: 10px;
    padding: 0;
    color: white;
}

#stats h3 {
    font-size: 18pt;
    margin: 10px 10px 0 10px;
    padding: 0;
    overflow: hidden;
}

#stats h3 :not(.error) {
    color: white;
}

#stats h3 a {
    color: white;
}


/* termSpace = chartsection and termresults */

#termResults {
    overflow:hidden; 
    height: 400px; 
    min-width: 200px;
    width: 25%;
    margin: 0 0 10px 0;
    padding: 0 0 50px 10px;
    position: relative;
    float: right;
    background-color: #ECECEC;
}

#termResults_list {
    overflow-y:scroll;
    height: 100%; 
    min-width: 150px;
    margin: 0 auto 0 auto;
    padding: 0;
    font-size: 14pt;
}

#termResults_list li {
    padding: 0;
    margin: 0;
}


/* Comment Section
 
comment
    author
    content
    commentData
        p
        p
        p    
*/

#comments li {
    margin: 10px 0 10px 0;
}


#comments, #voters {
    clear: both;
    margin: 50px 0 0 10px;
    padding: 0px;
}

#comments li li {
    margin-left: 50px;
}

#commentSpace label {
    display: block;
    float: left;
    padding-right: 10px;
    white-space: nowrap;
}

#commentSpace label input {
    vertical-align: middle;
}

#commentSpace label span {
    vertical-align: middle;
}

.commentBody:hover {
    background-color: #94ecf7;
}

.comment {
    font-family: 'Segoe UI';
    font-size: 12px;
}

.author {
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
}

.content {
    font-size: 14px;
    margin: 8px;
}

.commentData p {
    color: #828282;
    font-size: 10px;
    margin: 2px;
    margin-left: 10px;
    padding: 0;
}