@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="form-inline my-2 my-lg-0">
        <div class="form-row">
            <a asp-area="Identity" asp-page="/Account/Manage/Index" class="form-control mr-2 text-light" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            <div class="col">
                <button type="submit" class="btn btn-success my-2 my-sm-0">Logout</button>
            </div>
        </div>
    </form>
}
else
{
    <a asp-area="Identity" asp-page="/Account/Register" class="navbar-text text-light mr-2">Register</a>
    <a asp-area="Identity" asp-page="/Account/Login" class="navbar-text text-light">Login</a>
}
