.bcotwCol {
    padding: 0;
}

.bcotwTile {
    background-color: transparent; /* IMPORTANT */
    width: 100%;
    height: 100%;
}

.backdrop {
    background-color: #737373;
    position: relative;
}

.overlay {
    position: absolute;
    z-index: 2;
    opacity: 0.5;
    background-color: #efefef;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bcotwTile::before {
    content: "";
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
    padding-top: 75%; /* 4:3 Aspect Ratio */
}

.bcotwTile:after { /* to clear float */
    content: "";
    display: table;
    clear: both;
}

.front, .back {
    background-size: 100% 130%;
    background-position: 0 50%;
    background-repeat: no-repeat;
}