.collapseToggle {
    height: 20px;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    background: #828282;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.collapseToggle[aria-expanded="true"] > .oi-caret {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.collapseToggle > .oi-caret {
    margin: 0 auto 0 auto;
    height: 20px;
    width: auto;
    display: inline-block;
    margin-top: -8px;
    color: #fff;
}

#message .alert {
    display: none;
}

#userSpace {
    background: #f7f7f7;
    padding-bottom: 1rem;
}

.short-list {
    height: 275px;
    overflow-y: auto;
}

.option_title {
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

#recommendedVideosList li {
    cursor: pointer;
}

.alert {
    margin-bottom: 0;
}

#progress {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
}

/* Video stats space*/
#stats_group {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#div_video_stats {
    left: 0;
    vertical-align: bottom;
    position: absolute;
    bottom: 0;
    margin: 0 10px 10px 10px;
}

#img_overlay {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.5);
}

#stats {
    overflow: hidden;
}

#stats p {
    font-size: 18px;
    margin: 2px;
    margin-left: 10px;
    padding: 0;
    color: white;
}

#stats h3 {
    font-size: 18pt;
    margin: 10px 10px 0 10px;
    padding: 0;
    overflow: hidden;
}

#stats h3 :not(.error) {
    color: white;
}

#stats h3 a {
    color: white;
}

/* termSpace = chartsection and termresults */
#downloadPieChart:enabled {
    cursor: pointer;
}

#termResults_list {
    overflow-y: auto;
    height: 100%;
    margin: 0 auto 0 auto;
    padding: 0;
    font-size: 1rem;
}

#termResults_list li {
    padding: 0;
    margin: 0;
}

#termResults_list .remove {
    display: none;
}

/* Comment Section
 
comment
    author
    content
    commentData
        p
        p
        p    
*/
#commentSpace label {
    margin-left: 2rem;
    cursor: pointer;
}

#commentSpace input[type="checkbox"] {
    cursor: pointer;
}

#comments ul {
    padding: 0;
}

#comments li {
    margin: 1rem 0;
    border-left: 5px solid #f7f7f7;
    list-style: none;
}

#comments li li {
    margin-left: 2rem;
}

.commentBody:hover {
    background-color: #e2e2e2;
}

.comment {
    font-size: 1rem;
}

.author {
    margin: 0 0 0 0.5rem;
}

.content {
    font-size: 1rem;
    margin: 0 1rem;
}

.commentData p {
    display: none;
    color: #828282;
    font-size: 0.8rem;
    margin: 0;
    margin-left: 1rem;
    padding: 0;
}