@using Microsoft.AspNetCore.Http.Features
@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}
@if (showBanner)
{
    <nav class="navbar fixed-bottom navbar-expand-md navbar-dark bg-dark" id="cookieConsent">
        <a class="navbar-brand">
            <i class="fas fa-info-circle text-white" aria-hidden="true"></i>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#cookieConsent .navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <span class="navbar-text flex-full">
                This website uses cookies to ensure you get the best experience on our website.
            </span>
            <div class="navbar-text">
                <a asp-controller="Home" asp-action="Privacy" class="btn btn-info text-white navbar-btn mr-2">Learn More</a>
                <button type="button" class="btn btn-light navbar-btn" data-cookie-string="@cookieString">Accept</button>
            </div>
        </div>
    </nav>
    <script src="~/dist/cookieContent.js"></script>
}
