@model RegisterViewModel
@{
    ViewData["Title"] = "Create a new account";
}

<div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-hidden="true" data-show="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1>@ViewData["Title"]</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Register" asp-controller="Account"  class="ajax">
                    <div asp-validation-summary="All" class="validation text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button onclick="Form.submit(this)" class="btn btn-primary">Register</button>

                    <div class="login-help">
                        <a href="#" data-modal="login-modal">Already have an account?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>