@using BestClipOfTheWeek.Views.Shared

@{
    ViewData["Title"] = "Home";
    ViewData.AddActivePage(SharedNavPages.Index);
    var random = new Random();
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/home.css" asp-append-version="true">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/home.min.css" asp-append-version="true">
    </environment>
} 

<div class="container backdrop">
    <div class="overlay"></div>
    @for (var i = 0; i < 9; i++)
    {
        <div class="row">
            @for (var j = 0; j < 12; j++)
            {
                var delta = Math.Abs(j - 6);
                var br = "d-none d-xl-block";
                if (delta < 2)
                {
                    br = "";
                }
                else if (delta < 3)
                {
                    br = "d-none d-sm-block";
                }
                else if (delta < 4)
                {
                    br = "d-none d-md-block";
                }
                else if (delta < 5)
                {
                    br = "d-none d-lg-block";
                }

                <div class="col bcotwCol @(br)">
                    <div class="bcotwTile flipper">
                        <div class="front" style="background-color: @Html.Raw(string.Format("#{0:X2}{0:X2}{0:X2}", random.Next(0xa, 0xc0)));"></div>
                        <div class="back" style="background-color: @Html.Raw(string.Format("#{0:X2}{0:X2}{0:X2}", random.Next(0xa, 0xc0)));"></div>
                    </div>
                </div>
            }
        </div>
    }
</div>

@{ await Html.RenderPartialAsync("_Login", new LoginViewModel()); }
@{ await Html.RenderPartialAsync("_Register", new RegisterViewModel()); }
@{ await Html.RenderPartialAsync("_ForgotPassword", new ForgotPasswordViewModel()); }

@section Scripts {
    <environment include="Development">
        <script src="~/js/flip.js" asp-append-version="true"></script>
        <script src="~/js/utility.js" asp-append-version="true"></script>
        <script src="~/js/imageGrid.js" asp-append-version="true"></script>
        <script src="~/js/form.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/flip.min.js" asp-append-version="true"></script>
        <script src="~/js/utility.min.js" asp-append-version="true"></script>
        <script src="~/js/imageGrid.min.js" asp-append-version="true"></script>
        <script src="~/js/form.min.js" asp-append-version="true"></script>
    </environment>
}