@{
    ViewData["Title"] = "Report";
}
@section header {
    <base href="/Report" />
    <link rel="stylesheet" href="~/dist/report.css" />
}
<noscript>
    You need to enable JavaScript to run this app.
</noscript>
<div id="react-app" class="d-flex flex-full"></div>
@section Scripts {
    <script src="~/dist/report.js"></script>
}
