@{
    ViewData["Title"] = "Sample";
}
@section header {
    <base href="/Report" />
}
<noscript>
    You need to enable JavaScript to run this app.
</noscript>
<div id="react-app"></div>
@section Scripts {
    <script src="~/dist/report.js"></script>
}
