@{
    ViewData["Title"] = "Terms Management";
}
@section header {
    <base href="/Terms" />
}
<noscript>
    You need to enable JavaScript to run this app.
</noscript>
<div id="react-app"></div>
@section Scripts {
    <script src="~/dist/terms.js"></script>
}
